<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	<!--Custom styles-->
<%= stylesheet_link_tag "homeStyle.css" %>

	<title>Series</title>
	<meta charset="UTF-8">
	<meta name="description" content="EndGam Gaming Magazine Template">
	<meta name="keywords" content="endGam,gGaming, magazine, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="img/favicon.ico" rel="shortcut icon"/>

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i" rel="stylesheet">


	<!-- Stylesheets -->
	<%= stylesheet_link_tag "bootstrap.min.css"%>
	<%= stylesheet_link_tag  "font-awesome.min.css"%>
	<%= stylesheet_link_tag "slicknav.min.css"%>
	<%= stylesheet_link_tag  "owl.carousel.min.css"%>
	<%= stylesheet_link_tag "magnific-popup.css"%>
	<%= stylesheet_link_tag "animate.css"%>

	<!-- Main Stylesheets -->
	<%= stylesheet_link_tag href="homeStyle2.css"%>


	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br>


<div class="row">
  <% @animes.each do |anime| %>
    <div class="col-xs-6 col-md-3">
      <% if anime.category=="Series" %>
        <p><%= anime.name %></p>
        <% if anime.image_url %>
        <%= link_to image_tag(anime.image_url , size: "250x300", alt: "Anime Image", class:"thumbnail"), anime_path(anime)%>
        <% end %> 
    <% end %>
    </div>
  <% end %>
</div>

</body>
</html>